<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-default/index.css">
  <link href="css/account.css" rel="stylesheet">
  <title>我的账户</title>
</head>

<body>
  <div id="account">
    <header>
      <div class="header" flex="main:justify">
        <div class="header-left-logo">
          <img @click="toHome" src="img/logo.png" alt="BookBuy图书网">
          <span>我的账户</span>
        </div>
        <div class="header-right-manage">
          <div class="manage-left">
            <a @click="toCart" href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>{{carNum}}</b></a>
            <span>|</span>
            <a @click="toMyorder" href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
            <span>|</span>
            <a @click="toMycount" href="javascript:;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
            <span>|</span>
            <a @click="openNote" href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
          </div>
          <div class="manage-right">
            <div v-if="UsrName === ''">
              欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
              <a @click="toReg" href="javascript:;">[免费注册]</a>
            </div>
            <div v-else>
              <span>Hi, </span>
              <a @click="toMycount" style="color: #f86d0d" href="javascript:;">{{UsrName}}</a>&nbsp; 欢迎光临BookBuy图书网 &nbsp;
              <a href="javascript:;" @click="loginOut"> [ 退出 ]</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="account">
      <div class="account-infor" flex="dir:left">
        <div class="account-avatar">
          <el-upload :headers="headers" class="avatar-uploader" action="ool0z2raq.bkt.clouddn.com" :show-file-list="false" :on-success="uploadAvatarScucess" :before-upload="beforeAvatarUpload">
            <img :src="usrItem.Avatar" alt="头像">
          </el-upload>
        </div>
        <div class="account-detail" flex="dir:top cross:center main:center">
          <h2 class="nick">{{usrItem.Nick}}</h2>
          <span v-if="usrItem.Level === 1" class="level">注册会员</span>
          <span v-else-if="usrItem.Level === 2" class="level">铜牌会员</span>
          <span v-else-if="usrItem.Level === 3" class="level">银牌会员</span>
          <span v-else-if="usrItem.Level === 4" class="level">金牌会员</span>
          <span v-else class="level">钻石会员</span>
          <a @click="openUpdatePwd" href="javascript:;">修改密码</a>
          <a @click="openCompleteInfor" href="javascript:;">完善个人信息</a>
        </div>
        <div class="account-manage" flex="dir:right cross:center">
          <a @click="getOrderByStatus(2)" href="javascript:;"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> 待收货</a>
          <a @click="getOrderByStatus(3)" href="javascript:;"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 待确认</a>
          <a @click="getOrderByStatus(9)" href="javascript:;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 待评价</a>
          <a href="javascript:;"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 待回复</a>
        </div>
      </div>
      <div class="account-order">
        <h4>我的订单</h4>
        <div class="order-title" flex="dir:left">
          <div class="book-name">图书</div>
          <div class="book-price">单价</div>
          <div class="book-count">数量</div>
          <div class="book-total">实付款</div>
          <div class="trading-status">交易状态</div>
          <div class="trading-manage">交易操作</div>
        </div>
        <div v-if="orderItem.length !== 0" class="order-list" v-for="(item,index) in orderItem">
          <div class="order-header" flex="main:justify">
            <div class="order-header-left">
              <label>{{item.Id | subDate}}</label>
              <span>订单号:{{item.Id}}</span>
            </div>
            <div @click="getOrder" class="order-header-right">全部订单</div>
          </div>
          <div class="order-main" flex="dir:left">
            <div flex="dir:top">
              <div class="order-main-left" flex="dir:left cross:center" v-for="key in item.BuyInfor">
                <div class="book-name" flex="dir:left cross:center">
                  <img @click="lookDetail(key.BookId)" :src="key.Image" :alt="key.BookName">
                  <span class="bookname" flex="dir:top">
              <a @click="lookDetail(key.BookId)" href="javascript:;">{{key.BookName}}</a>
              <span flex="main:left"><img src="img/eleven.png"><img src="img/privoid.png"><img src="img/product.png">
              </span>
                  </span>
                </div>
                <div class="book-price">￥{{key.SellPrice}}</div>
                <div class="book-count">{{key.count}}</div>
              </div>
            </div>
            <div class="order-main-right" flex="dir:left cross:center">
              <div class="book-total" flex="dir:top main:center">
                <b>￥{{item.Total}}</b>
                <span>（含运费:￥{{item.Freight}}）</span>
              </div>
              <div class="trading-status" flex="dir:top main:center">
                <span>交易成功</span>
                <a @click="orderDetail(index)" href="javascript:;">订单详情</a>
                <span v-if="item.Status===0">已失效</span>
                <span v-else-if="item.Status===1">待确认</span>
                <span v-else-if="item.Status===2">配送中</span>
                <span v-else-if="item.Status===3">已签收</span>
                <span v-else-if="item.Status===4">审核中</span>
                <span v-else-if="item.Status===5">已退款</span>
                <span v-else-if="item.Status===6">已评价</span>
                <span v-else-if="item.Status===7">退换中</span>
                <span v-else-if="item.Status===8">已换货</span>
                <span v-else>待评价</span>
              </div>
              <div class="trading-manage" flex="cross:center main:center">
                <button @click="confirmReceived(index)" v-if="item.Status<4 && item.Status>0" class="btn">确认收货</button>
                <button @click="openEvaluate(index)" v-else-if="item.Status===9" class="btn">评价</button>
                <button @click="againBuy(index)" v-else class="btn">再次购买</button>
              </div>
            </div>
          </div>
        </div>
        <div class="no-order" v-if="orderItem.length === 0"><img src="img/noorder.jpg"></div>
      </div>
    </div>
    <!-- 修改密码 -->
    <div id="updatePwd">
      <div class="updatePwd-oldpwd">
        <label>旧 &nbsp;密&nbsp; 码:</label>
        <input @blur="checkOldPwd" type="password" v-model.trim="oldPwd" class="form-control" autofocus>
      </div>
      <p class="error-infor">{{oldPwdError}}</p>
      <div class="updatePwd-newpwd">
        <label>新 &nbsp;密&nbsp; 码:</label>
        <input @blur="checkNewPwd" placeholder="密码，6~16位数字和字母" type="password" v-model.trim="newPwd" class="form-control">
      </div>
      <p class="error-infor">{{newPwdError}}</p>
      <div class="updatePwd-confirmpwd">
        <label>确认密码:</label>
        <input @blur="checkConfirmPwd" type="password" v-model.trim="confirmPwd" class="form-control">
      </div>
      <p class="error-infor">{{confirmPwdError}}</p>
      <div class="updatePwd-btn" flex="dir:right">
        <button class="btn submit-btn" @click="submitPwd">提交</button>
        <button class="btn" @click="closePwd">取消</button>
      </div>
    </div>
    <!-- 订单详情 -->
    <div id="orderDetail">
      <table>
        <tbody>
          <tr>
            <td>订单号</td>
            <td>{{orderDetailItem.Id}}</td>
          </tr>
          <tr v-for="(item,index) in orderDetailItem.BuyInfor">
            <td>图书</td>
            <td>{{item.BookName}}（{{item.count}}本）</td>
          </tr>
          <tr>
            <td>运费</td>
            <td>￥{{orderDetailItem.Freight}}</td>
          </tr>
          <tr>
            <td>总额</td>
            <td>￥{{orderDetailItem.Total}}</td>
          </tr>
          <tr>
            <td>收货人</td>
            <td>{{orderDetailItem.Name}}</td>
          </tr>
          <tr>
            <td>手机号</td>
            <td>{{orderDetailItem.Mobile}}</td>
          </tr>
          <tr>
            <td>收货地址</td>
            <td>{{orderDetailItem.Address}}</td>
          </tr>
          <tr>
            <td>发票信息</td>
            <td>{{orderDetailItem.InvoiceInfor}}</td>
          </tr>
          <tr>
            <td>配送时间</td>
            <td>{{orderDetailItem.DeliveryTime}}</td>
          </tr>
          <tr>
            <td>订单状态</td>
            <td v-if="orderDetailItem.Status === 1">待确认</td>
            <td v-else-if="orderDetailItem.Status === 2">配送中</td>
            <td v-else-if="orderDetailItem.Status === 3">已签收</td>
            <td v-else-if="orderDetailItem.Status === 4">审核退款</td>
            <td v-else-if="orderDetailItem.Status === 5">已退款</td>
            <td v-else-if="orderDetailItem.Status === 6">已评价</td>
            <td v-else>已失效</td>
          </tr>
          <tr>
            <td>下单日期</td>
            <td>{{orderDetailItem.Id | coverDate}}</td>
          </tr>
          <tr>
            <td>备注</td>
            <td>{{orderDetailItem.Note}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 完善个人信息 -->
    <div id="completeInfor">
      <div class="completeInfor-nick">
        <label>昵 &nbsp;&nbsp; &nbsp;称:</label>
        <input @blur="checkNick" type="text" v-model.trim="usrItem.Nick" class="form-control">
        <span v-show="nickValid" class="ok_bg"></span>
      </div>
      <p class="error-infor">{{nickError}}</p>
      <div class="completeInfor-mobile">
        <label>手 &nbsp;&nbsp; &nbsp;机:</label>
        <input @blur="checkMobile" type="number" v-model.trim="usrItem.Mobile" class="form-control">
        <span v-show="mobileValid" class="ok_bg"></span>
      </div>
      <p class="error-infor">{{mobileError}}</p>
      <div class="completeInfor-email">
        <label>邮 &nbsp;&nbsp; &nbsp;箱:</label>
        <input @blur="checkEmail" type="text" v-model.trim="usrItem.Email" class="form-control">
        <span v-show="emailValid" class="ok_bg"></span>
      </div>
      <p class="error-infor">{{emailError}}</p>
      <div class="completeInfor-name">
        <label>收 &nbsp;货 &nbsp;人:</label>
        <input @blur="checkName" type="text" v-model.trim="usrItem.Name" class="form-control">
        <span v-show="nameValid" class="ok_bg"></span>
      </div>
      <p class="error-infor">{{nameError}}</p>
      <div class="completeInfor-address">
        <label>收货地址:</label>
        <input @blur="checkAddress" type="text" v-model.trim="usrItem.Address" class="form-control">
        <span v-show="addressValid" class="ok_bg"></span>
      </div>
      <p class="error-infor">{{addressError}}</p>
      <div class="completeInfor-btn" flex="dir:right">
        <button class="btn submit-btn" @click="submitInfor">提交</button>
        <button class="btn" @click="closeInfor">取消</button>
      </div>
    </div>
    <!-- 留言 -->
    <div id="note">
      <div class="note-content" flex="dir:top">
        <textarea class="form-control" placeholder="给卖家留言，说出想要的图书或改进的建议. . ." v-model.trim="noteMsg" cols="30" rows="7"></textarea>
        <div>{{noteWordCount}}/140</div>
      </div>
      <div class="note-btn" flex="dir:right">
        <button class="btn submit-btn" @click="submitNote">提交</button>
        <button class="btn" @click="closeNote">取消</button>
      </div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a @click="toReg" href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="js/account.js"></script>
</body>

</html>
