<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/book-detail.css" rel="stylesheet">
  <title>图书详情</title>
</head>

<body>
  <div id="book">
    <header>
      <div class="header" flex="main:justify">
        <div v-if="UsrName == ''" class="head-left">
          欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
          <a href="javascript:;" target="_parent">[免费注册]</a>
        </div>
        <div v-else class="head_left">
          <span>Hi, </span>
          <a style="color: #f86d0d" href="javascript:;">{{UsrName}}</a>&nbsp; 欢迎光临BookBuy图书网 &nbsp;
          <a href="javascript:;" @click="loginOut"> [ 退出 ]</a>
        </div>
        <div class="head_right">
          <a href="javascript:;" target="_parent"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>{{carNum}}</b></a>
          <span>|</span>
          <a href="javascript:;" target="_parent"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
          <span>|</span>
          <a href="javascript:;" target="_parent"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
          <span>|</span>
          <a href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
        </div>
      </div>
    </header>
    <div class="wraps">
      <div class="wrap">
        <div class="seach-bar" flex="main:justify">
          <div class="logo"><img src="img/logo.png" alt="BookBuy图书网"></div>
          <div style="width: 385px;" flex="dir:top cross:center" class="input-group">
            <div class="search-box" flex="cross:center">
              <input style="display: inline;width: 340px;" type="text" class="form-control search" placeholder="图书名称">
              <span style="width: 45px" class="input-group-btn">
        <button class="btn btn-default btn-search" type="button"><span style="font-size: 16px;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <div class="hot-search">热搜:<span>平凡的世界</span><span>零售管理</span><span>Nodejs开发指南</span><span>百变马丁</span></div>
          </div>
          <div class="cart-order">
            <a href="javascript:;" class="cart"><span style="font-size: 18px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车 <b>{{carNum}}</b></a><a href="javascript:;" class="myorder">我的订单</a>
          </div>
        </div>
        <nav>
          <ul flex="box:mean">
            <li class="selected">首页</li>
            <li>畅销榜</li>
            <li v-for="item in categoryItem">{{item.Name}}</li>
            <li>更多</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main">
      <div class="book-infor">
        <div class="bread-crumbs"><a href="javascript:;" @click="toIndex">首页</a> &gt; <a href="javascript:;" @click="toCategory">{{bookItem.Category}}</a> &gt; {{bookItem.Name}}</div>
        <div class="infor" class="box" flex="dir:left">
          <div flex-box="0" class="book_img">
            <div class="tb-booth tb-pic tb-s310">
              <a href="img/JavaScript-Dom-L.jpg">
                <img src="img/JavaScript-Dom-M.jpg" alt="" rel="img/JavaScript-Dom-L.jpg" class="jqzoom" id="img_mid" /></a>
            </div>
            <ul class="tb-thumb" id="thumblist">
              <li class="tb-selected">
                <img src="img/JavaScript-Dom-S.jpg" mid="img/JavaScript-Dom-M.jpg" big="img/JavaScript-Dom-L.jpg" /></li>
            </ul>
          </div>
          <div flex-box="1" class="infor-item">
            <h3 class="margin-b">{{bookItem.Name}}</h3>
            <div class="author margin-b">
              <span>作者: {{bookItem.Author}}</span>
              <span>出版社: {{bookItem.Press}}</span>
            </div>
            <div class="publish margin-b">
              <span>出版日期: {{bookItem.PublishDate}}</span>
              <span>ISBN: {{bookItem.ISBN}}</span>
            </div>
            <div class="price margin-b" flex="dir:top">
              <div class="list-price">定价
                <del>￥{{bookItem.ListPrice}}</del>
              </div>
              <div class="sell-price">促销价
                <b>￥{{bookItem.SellPrice}}</b>
              </div>
            </div>
            <div class="sent margin-b">
              配送至
              <select>
                <option v-for="arae in areaItem" :key="arae">{{arae}}</option>
              </select>
              <b>有货</b>满59元免运费<b>货到付款</b>
            </div>
            <div class="sell margin-b">
              销售配送<span>由<b>BookBuy图书网</b>直接销售和发货</span>
            </div>
            <div class="promise margin-b">
              退换承诺<span>此图书支持<b>七天免费退换</b></span>
            </div>
            <div class="buy-num margin-b">
              选购数量
              <input class="number" type="text" value="1" />
              <span class="add_minus"><a class="add">+</a><a class="minus">-</a></span>库存数量
            </div>
          </div>
        </div>
      </div>
      <div class="book-detail"></div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <!-- 底部 -->
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="/lib/jquery-1.10.2.min.js"></script>
  <script src="/lib/js/jquery.imagezoom.min.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="js/book-detail.js"></script>
</body>

</html>
