<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <script src="lib/mzp-packed.js"></script> -->
  <!-- <link href="lib/magiczoomplus.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/book-detail.css" rel="stylesheet">
  <title>图书详情</title>
</head>

<body>
  <div id="book">
    <header>
      <div class="header" flex="main:justify">
        <div v-if="UsrName == ''" class="head-left">
          欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
          <a @click="toReg" href="javascript:;">[免费注册]</a>
        </div>
        <div v-else class="head_left">
          <span>Hi, </span>
          <a @click="toMycount" style="color: #f86d0d" href="javascript:;">{{UsrName}}</a>&nbsp; 欢迎光临BookBuy图书网 &nbsp;
          <a href="javascript:;" @click="loginOut"> [ 退出 ]</a>
        </div>
        <div class="head_right">
          <a @click="toCart" href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>{{carNum}}</b></a>
          <span>|</span>
          <a @click="toMyorder" href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
          <span>|</span>
          <a @click="toMycount" href="javascript:;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
          <span>|</span>
          <a @click="openNote" href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
        </div>
      </div>
    </header>
    <div class="wraps">
      <div class="wrap">
        <div class="seach-bar" flex="main:justify">
          <div class="logo" @click="toHome"><img src="img/logo.png" alt="BookBuy图书网"></div>
          <div style="width: 420px;" flex="dir:top cross:center" class="input-group">
            <div class="search-box" flex="cross:center">
              <input @keyup.enter="search" v-model="searchKey" style="display: inline;width: 340px;" type="text" class="form-control search" :placeholder="hotSearch">
              <span style="width: 45px" class="input-group-btn">
        <button @click="search" class="btn btn-default" type="button"><span style="font-size: 16px;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <div class="hot-search">热搜:<a href="javascript:;" @click="getBookDetail(item.Id)" v-for="(item,index) in hotBook">{{item.Name}}</a></div>
          </div>
          <div class="cart-order">
            <a @click="toCart" href="javascript:;" class="cart"><span style="font-size: 18px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车 <b>{{carNum}}</b></a><a href="javascript:;" class="myorder">我的订单</a>
          </div>
        </div>
        <nav>
          <ul flex="box:mean">
            <li class="selected">首页</li>
            <li>畅销榜</li>
            <li v-for="item in categoryItem">{{item.Name}}</li>
            <li>更多</li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main">
      <div class="book-infor">
        <div class="bread-crumbs"><a href="javascript:;" @click="toHome">首页</a> &gt; <a href="javascript:;" @click="toCategory">{{bookItem.Category}}</a> &gt; {{bookItem.Name}}</div>
        <div class="infor" class="box" flex="dir:left">
          <div flex-box="0" class="book_img">
            <div class="tb-booth tb-pic tb-s310">
              <a :href="imageL">
                <img :src="imageM" alt="" :rel="imageL" class="jqzoom" id="img_mid" /></a>
            </div>
            <ul class="tb-thumb" id="thumblist">
              <li class="tb-selected">
                <img :src="imageS" :mid="imageM" :big="imageL" /></li>
            </ul>
          </div>
          <div flex-box="1" class="infor-item">
            <h3 class="margin-b">{{bookItem.Name}}</h3>
            <div class="author margin-b">
              <span>作者: <a href="javascript:;">{{bookItem.Author}}</a></span>
              <span>出版社: <a href="javascript:;">{{bookItem.Press}}</a></span>
            </div>
            <div class="publish margin-b">
              <span>出版日期: {{bookItem.PublishDate}}</span>
              <span>ISBN: {{bookItem.ISBN}}</span>
            </div>
            <div class="price margin-b" flex="dir:top">
              <div class="list-price">定价
                <del>￥{{bookItem.ListPrice}}.00</del>
              </div>
              <div class="sell-price">促销价
                <b>￥{{bookItem.SellPrice}}0</b>
                <span>({{(parseFloat(bookItem.SellPrice)*10/parseFloat(bookItem.ListPrice)).toFixed(2)}}折)</span>
              </div>
            </div>
            <div class="sent margin-b">
              配送至
              <select>
                <option v-for="area in areaItem" :key="area">{{area}}</option>
              </select>
              <b>有货</b> 满59元免运费 <b>货到付款</b>
            </div>
            <div class="sell margin-b">
              销售配送<span>由 <b>BookBuy图书网</b> 直接销售和发货</span>
            </div>
            <div class="promise margin-b">
              退换承诺<span>此图书支持 <b>七天免费退换</b></span>
            </div>
            <div class="buy-num margin-b">
              选购数量
              <input class="form-control" v-model.number="selectNum" type="text" value="1" />
              <span class="add-minus"><a :disabled="addFalse" class="add" @click="addNum">+</a><a class="minus" :disabled="minusFalse" @click="minusNum">-</a></span>
              <span class="storage">库存数量 <b>{{bookItem.Count}}</b></span>
            </div>
            <div class="book-btn">
              <button type="button" @click="addToCart" class="cart-btn btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 加入购物车</button>
              <button type="button" class="buy-btn btn" @click="purchase">立即购买</button>
            </div>
          </div>
        </div>
      </div>
      <div class="book-detail">
        <ul class="nav nav-tabs">
          <li role="presentation" @click="selestIndex=1" :class="{active:selestIndex===1}"><a href="javascript:;">图书详情</a>
          </li>
          <li @click="selestIndex=2" :class="{active:selestIndex===2}" role="presentation"><a href="javascript:;">图书评论</a></li>
          <li @click="selestIndex=3" :class="{active:selestIndex===3}" role="presentation"><a href="javascript:;">图书问答</a></li>
        </ul>
        <div class="book-base-infor" v-show="selestIndex===1">
          <div class="base-infor">
            <ul>
              <li>版 次: {{bookItem.Edition}}</li>
              <li>出版日期: {{bookItem.PublishDate}}</li>
              <li>ISBN: {{bookItem.ISBN}}</li>
              <li>类 别: {{bookItem.Category}}</li>
            </ul>
            <ul>
              <li>页 数: </li>
              <li>开 本: 12k</li>
              <li>包 装: 平装</li>
            </ul>
            <ul>
              <li>字 数: {{bookItem.WordsCount}}</li>
              <li>纸 张: 胶版纸</li>
              <li>是否套装: 否</li>
            </ul>
          </div>
          <div class="book-abstract">
            <div class="title">
              <span>图书简介</span>
            </div>
            <p>
              {{bookItem.Abstract}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 留言 -->
    <div id="note">
      <div class="note-content" flex="dir:top">
        <textarea class="form-control" placeholder="给卖家留言，说出想要的图书或改进的建议. . ." v-model.trim="noteMsg" cols="30" rows="7"></textarea>
        <div>还能输入{{noteWordCount}}字</div>
      </div>
      <div class="note-btn" flex="dir:right">
        <button class="btn submit-btn" @click="submitNote">提交</button>
        <button class="btn" @click="closeNote">取消</button>
      </div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a @click="toReg" href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <!-- 底部 -->
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/js/jquery.imagezoom.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="js/book-detail.js"></script>
</body>

</html>
