<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/book-list.css" rel="stylesheet">
  <title>图书列表</title>
</head>

<body>
  <div id="book">
    <header>
      <div class="header" flex="main:justify">
        <div v-if="UsrName == ''" class="head-left">
          欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
          <a href="javascript:;">[免费注册]</a>
        </div>
        <div v-else class="head_left">
          <span>Hi, </span>
          <a style="color: #f86d0d" href="javascript:;">{{UsrName}}</a>&nbsp; 欢迎光临BookBuy图书网 &nbsp;
          <a href="javascript:;" @click="loginOut"> [ 退出 ]</a>
        </div>
        <div class="head_right">
          <a @click="toCart" href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>{{carNum}}</b></a>
          <span>|</span>
          <a href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
          <span>|</span>
          <a href="javascript:;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
          <span>|</span>
          <a href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
        </div>
      </div>
    </header>
    <div class="wraps">
      <div class="wrap">
        <div class="seach-bar" flex="main:justify">
          <div class="logo" @click="toHome"><img src="img/logo.png" alt="BookBuy图书网"></div>
          <div style="width: 420px;" flex="dir:top cross:center" class="input-group">
            <div class="search-box" flex="cross:center">
              <input @keyup.enter="search" v-model="searchKey" style="display: inline;width: 340px;" type="text" class="form-control search" :placeholder="hotSearch">
              <span style="width: 45px" class="input-group-btn">
        <button @click="search" class="btn btn-default" type="button"><span style="font-size: 16px;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <div class="hot-search">热搜:<a href="javascript:;" @click="lookDetail(item.Id)" v-for="(item,index) in hotBook">{{item.Name}}</a></div>
          </div>
          <div class="cart-order">
            <a @click="toCart" href="javascript:;" class="cart"><span style="font-size: 18px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车 <b>{{carNum}}</b></a><a href="javascript:;" class="myorder">我的订单</a>
          </div>
        </div>
        <nav>
          <ul flex="box:mean">
            <li class="selected">首页</li>
            <li>畅销榜</li>
            <li v-for="item in categoryItem">{{item.Name}}</li>
            <li>更多</li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- 图书列表 -->
    <div class="book-list" v-for="(item,index) in bookItem" flex="dir:left">
      <div @click="lookDetail(item.Id)" class="book-img"><img :src="item.Image[1]" :alt="item.Name"></div>
      <div class="book-infor" flex="dir:top">
        <div class="title mgb"><a @click="lookDetail(item.Id)" href="javascript:;">{{item.Name}}</a></div>
        <div class="price mgb"><b>￥{{item.SellPrice}} </b><span> 定价:</span>
          <del>￥{{item.ListPrice}}</del><span>({{(parseFloat(item.SellPrice)*10/parseFloat(item.ListPrice)).toFixed(2)}}折)</span>
        </div>
        <div class="app mgb"><a href="javascript:;">{{item.Author}}</a> 著 <span class="date">/{{item.PublishDate.slice(0,10)}}/</span> <a href="javascript:;">{{item.Press}}</a></div>
        <div class="self-sold mgb">BookBuy自营</div>
        <div class="abstract mgb">{{item.Abstract.slice(0,100)}}</div>
        <div class="book-btn">
          <button @click="addToCart(index)" type="button" class="cart-btn btn"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 加入购物车</button>
          <!-- <button @click="purchase(index)" type="button" class="buy-btn btn">立即购买</button> -->
        </div>
      </div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <!-- 底部 -->
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="/lib/jquery-1.10.2.min.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="js/book-list.js"></script>
</body>

</html>
