<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link href="lib/carousel/mF_fancy.css" rel="stylesheet">
  <script src="/lib/myfocus-2.0.1.min.js"></script>
  <script src="lib/carousel/mF_fancy.js"></script>
  <link href="css/base.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <title>BookBuy图书网</title>
</head>

<body>
  <div id="book">
    <header>
      <div class="header" flex="main:justify">
        <div v-if="UsrName == ''" class="head-left">
          欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
          <a @click="toReg" href="javascript:;">[免费注册]</a>
        </div>
        <div v-else class="head_left">
          <span>Hi, </span>
          <a @click="toMycount" style="color: #f86d0d" href="javascript:;">{{UsrName}}</a>&nbsp; 欢迎光临BookBuy图书网 &nbsp;
          <a href="javascript:;" @click="loginOut"> [ 退出 ]</a>
        </div>
        <div class="head_right">
          <a @click="toCart" href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>{{carNum}}</b></a>
          <span>|</span>
          <a @click="toMyorder" href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
          <span>|</span>
          <a @click="toMycount" href="javascript:;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
          <span>|</span>
          <a @click="openNote" href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
        </div>
      </div>
    </header>
    <!-- 导航、搜索 -->
    <div class="wraps">
      <div class="wrap">
        <div class="seach-bar" flex="main:justify">
          <div class="logo" @click="toHome"><img src="img/logo.png" alt="BookBuy图书网"></div>
          <div style="width: 420px;" flex="dir:top cross:center" class="input-group">
            <div class="search-box" flex="cross:center">
              <input @keyup.enter="search" v-model="searchKey" style="display: inline;width: 340px;" type="text" class="form-control search" :placeholder="hotSearch">
              <span style="width: 45px" class="input-group-btn">
        <button @click="search" class="btn btn-default" type="button"><span style="font-size: 16px;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
            <div class="hot-search">热搜:<a href="javascript:;" @click="lookDetail(item.Id)" v-for="(item,index) in hotBook" v-if="index<3">{{item.Name}}</a></div>
          </div>
          <div class="cart-order">
            <a @click="toCart" href="javascript:;" class="cart"><span style="font-size: 18px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车 <b>{{carNum}}</b></a><a href="javascript:;" class="myorder">我的订单</a>
          </div>
        </div>
        <nav>
          <ul flex="box:mean">
            <li class="selected">首页</li>
            <li>畅销榜</li>
            <li v-for="item in categoryItem">{{item.Name}}</li>
            <li>更多</li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- 轮播图 -->
    <div class="carousel">
      <div id="carousel">
        <div class="loading">
          <img src="img/loading.gif" />
        </div>
        <div class="pic">
          <ul>
            <li v-for="item in picItem">
              <a href="javascript:;">
                <img :src="item.Url" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 图书展示 -->
    <div class="book-list" flex="main:justify">
      <!-- 新到图书 -->
      <div class="new-book">
        <p flex="main:justify cross:center"><span>新书上架</span><span class="more">More &gt;&gt;</span></p>
        <ul>
          <li v-for="item in newBook"><a href="javascript:;" @click="lookDetail(item.Id)">{{item.Name}}</a></li>
        </ul>
      </div>
      <!-- 推荐图书 -->
      <div class="recommend-book">
        <p flex="main:justify cross:center"><span>主打推荐</span><span class="more">More &gt;&gt;</span></p>
        <ul>
          <li :class="{'margin-lr': index==1 || index == 4}" flex="dir:top cross:center" @click="lookDetail(item.Id)" v-for="(item,index) in recommendBook">
            <img :src="item.Image[1]" :alt="item.Name">
            <a href="javascript:;">{{item.Name}}</a>
            <span>定价：￥<del>{{item.ListPrice}}</del></span>
            <span>售价：￥<b>{{item.SellPrice}}</b></span>
          </li>
        </ul>
      </div>
      <!-- 畅销榜 -->
      <div class="hot-book">
        <p flex="main:justify cross:center"><span>畅销榜</span><span class="more">More &gt;&gt;</span></p>
        <ul>
          <li v-for="(item,index) in hotBook"><i :style="{'color': index<3 ?'#f86d0d':'#555'}">{{index+1}}</i><a href="javascript:;" @click="lookDetail(item.Id)">{{item.Name}}</a></li>
        </ul>
      </div>
    </div>
    <!-- 留言 -->
    <div id="note">
      <div class="note-content" flex="dir:top">
        <textarea class="form-control" placeholder="给卖家留言，说出想要的图书或改进的建议. . ." v-model.trim="noteMsg" cols="30" rows="7"></textarea>
        <div>还能输入{{noteWordCount}}字</div>
      </div>
      <div class="note-btn" flex="dir:right">
        <button class="btn submit-btn" @click="submitNote">提交</button>
        <button class="btn" @click="closeNote">取消</button>
      </div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a @click="toReg" href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <!-- 底部 -->
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="/lib/jquery-1.10.2.min.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
