<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
  <link href="lib/flex.css" rel="stylesheet">
  <link href="css/register.css" rel="stylesheet">
  <title>用户注册</title>
</head>

<body>
  <div id="register">
    <header>
      <div class="header" flex="main:justify">
        <div class="header-left-logo">
          <img @click="toHome" src="img/logo.png" alt="BookBuy图书网">
          <span>用户注册</span>
        </div>
        <div class="header-right-manage">
          <div class="manage-left">
            <a href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车&nbsp;<b>0</b></a>
            <span>|</span>
            <a href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的订单</a>
            <span>|</span>
            <a @click="toMycount" href="javascript:;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的账户</a>
            <span>|</span>
            <a href="javascript:;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 留言</a>
          </div>
          <div class="manage-right">
            欢迎光临<b>BookBuy</b>图书网，<a href="javascript:;" @click="showLoginBox">[请登录]</a>
            <a @click="toReg" href="javascript:;">[免费注册]</a>
          </div>
        </div>
      </div>
    </header>
    <div class="register" flex="dir:left main:justify">
      <div class="register-slogan">
        <div><img src="img/register.png" alt="注册"></div>
        <h4>注册BookBuy账号</h4>
        <p>简单几步，即可开启您的购书之旅</p>
      </div>
      <div class="register-form">
        <div class="title">快来开启您的购书之旅吧~</div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" :class="{'form-control': true,'border': !nickValid}" placeholder="昵称，2~10位，不含特殊字符" @blur="checkNick" v-model.trim="Nick" autofocus />
          <span v-show="nickValid" class="input-group-addon reset"><span class="ok_bg"></span></span>
        </div>
        <p>{{nickError}}</p>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
          <input type="number" :class="{'form-control': true,'border': !mobileValid}" placeholder="11位手机号" @blur="checkMobile" v-model.trim="Mobile" />
          <span v-show="mobileValid" class="input-group-addon reset"><span class="ok_bg"></span></span>
        </div>
        <p>{{mobileError}}</p>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" :class="{'form-control': true,'border': !pwdValid}" placeholder="密码，6~16位数字和字母" @blur="checkPwd" v-model.trim="Pwd" />
          <span v-show="pwdValid" class="input-group-addon reset"><span class="ok_bg"></span></span>
        </div>
        <p>{{pwdError}}</p>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" :class="{'form-control': true,'border': !confirmPwdValid}" placeholder="确认密码" @blur="checkConfirmPwd" v-model.trim="confirmPassword" />
          <span v-show="confirmPwdValid" class="input-group-addon reset"><span class="ok_bg"></span></span>
        </div>
        <p>{{confirmPwdError}}</p>
        <div class="input-group register-drag">
          <span class="input-group-addon"><span class="glyphicon glyphicon-check"></span></span>
          <div id="drag">
            <div class="drag_bg"></div>
            <div class="drag_text" onselectstart="return false;" unselectable="on">拖动滑块验证</div>
            <div class="handler handler_bg"></div>
          </div>
        </div>
        <p>{{handlerError}}</p>
        <div class="register-btn">
          <button class="btn" @click="register">立即注册</button>
        </div>
      </div>
    </div>
    <!-- 登录 -->
    <div id="loginbox">
      <div class="login-item login-title">欢迎登录BookBuy图书网</div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="昵称或手机号" v-model="Account" autofocus @input="checkAccount" @keyup.enter="login" />
      </div>
      <div class="input-group login-item">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="密码" @input="checkPassword" @keyup.enter="login" v-model="Password" />
      </div>
      <p class="error-infor">{{errorInfor}}</p>
      <div>
        <button class="login-btn" type="button" @click="login">登 录</button>
      </div>
      <div class="other-item" flex="main:justify"><span>没有账号？<a @click="toReg" href="javascript:;">注册</a></span><a href="javascript:;">忘记密码</a></div>
    </div>
    <footer flex="main:center cross:center">
      <small>Copyright &copy; BookBuy图书网 2017, All Rights Reserved</small>
    </footer>
  </div>
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/layer/layer.js"></script>
  <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
  <script src="//cdn.bootcss.com/fetch/2.0.2/fetch.min.js"></script>
  <script src="/js/register.js"></script>
  <script>
  (function($) {
    $.fn.drag = function(options) {
      var x, drag = this,
        isMove = false,
        defaults = {};
      var options = $.extend(defaults, options);
      //添加背景，文字，滑块
      // var html = '<div class="drag_bg"></div>' +
      //   '<div class="drag_text" onselectstart="return false;" unselectable="on">拖动滑块验证</div>' +
      //   '<div class="handler handler_bg"></div>';
      // this.append(html);

      var handler = drag.find('.handler');
      var drag_bg = drag.find('.drag_bg');
      var text = drag.find('.drag_text');
      var maxWidth = drag.width() - handler.width(); //能滑动的最大间距

      //鼠标按下时候的x轴的位置
      handler.mousedown(function(e) {
        isMove = true;
        x = e.pageX - parseInt(handler.css('left'), 10);
      });

      //鼠标指针在上下文移动时，移动距离大于0小于最大间距，滑块x轴位置等于鼠标移动距离
      $(document).mousemove(function(e) {
        var _x = e.pageX - x;
        if (isMove) {
          if (_x > 0 && _x <= maxWidth) {
            handler.css({
              'left': _x - 3
            });
            drag_bg.css({
              'width': _x
            });
          } else if (_x > maxWidth) { //鼠标指针移动距离达到最大时清空事件
            dragOk();
          }
        }
      }).mouseup(function(e) {
        isMove = false;
        var _x = e.pageX - x;
        if (_x < maxWidth) { //鼠标松开时，如果没有达到最大距离位置，滑块就返回初始位置
          handler.css({
            'left': 0
          });
          drag_bg.css({
            'width': 0
          });
        }
      });

      //清空事件
      function dragOk() {
        handler.removeClass('handler_bg').addClass('handler_ok_bg');
        text.text('验证通过');
        drag.css({
          'color': '#fff'
        });
        handler.unbind('mousedown');
        $(document).unbind('mousemove');
        $(document).unbind('mouseup');
      }
    };
  })(jQuery);
  $('#drag').drag();
  </script>
</body>

</html>
