body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding-bottom: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#loginbox {
  display: none;
  padding: 0 20px 20px;
  .login-item {
    margin-top: 20px;
  }
  .login-title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-bottom: solid 1px #CAD2E1;
    margin-bottom: 17px;
    text-align: left;
  }
  .error-infor {
    color: red;
    height: 20px;
    line-height: 20px;
    margin: 5px 0;
  }
  button.login-btn {
    background-color: #f86d0d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
  .other-item {
    margin-top: 10px;
  }
}

$color: #f86d0d;
@mixin container_width {
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 34px;
  line-height: 34px;
  background-color: #f9f9f9;
  div.header {
    @include container_width;
    div.head_right {
      color: #000!important;
      >a {
        display: inline-block;
        height: 34px;
        line-height: 34px;
      }
    }
  }
}

.wraps {
  width: 100%;
  border-bottom: 3px solid $color;
  div.wrap {
    @include container_width;
    .seach-bar {
      height: 80px;
      line-height: 80px;
      .logo {
        cursor: pointer;
      }
      .input-group {
        .search-box {
          margin-top: 20px;
          height: 40px;
          line-height: 40px;
          .search {
            width: 250px;
            display: inline-block;
          }
        }
        .hot-search {
          color: #969696;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          text-align: left;
          a {
            display: inline-block;
            margin-left: 5px;
            color: #969696;
            &:hover {
              color: $color;
            }
          }
        }
      }
      .cart-order {
        a {
          display: inline-block;
          height: 36px;
          line-height: 32px;
          text-decoration: none;
          padding: 0 10px;
        }
        a.cart {
          background-color: $color;
          color: #fff;
          border: 2px solid $color;
          border-radius: 4px 0 0 4px;
          &:hover {
            background-color: #f6f6f6;
            color: #f86d0d;
            border: 2px solid #dcdcdc;
          }
        }
        a.myorder {
          color: #555;
          background-color: #f6f6f6;
          border: 2px solid #dcdcdc;
          border-radius: 0 4px 4px 0;
          border-left: 0;
          &:hover {
            color: $color;
          }
        }
      }
    }
    nav {
      height: 30px;
      line-height: 30px;
      width: 1000px;
      margin-top: 10px;
      >ul {
        padding-left: 0;
        li {
          cursor: pointer;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          &:hover {
            color: $color;
          }
        }
        li.selected {
          background-color: #f86d0d;
          border-radius: 4px 4px 0 0;
          &:hover {
            color: #fff;
            opacity: .9;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
