$color: #f86d0d;
.wraps {
  .wrap {
    .seach-bar {
      .logo {
        span {
          display: inline-block;
          margin-left: 10px;
          font-size: 26px;
          font-weight: 700;
        }
      }
    }
  }
}
