.book-list {
  width: 1000px;
  margin: 15px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  transition: all 1s ease 0s;
  cursor: pointer; }
  .book-list:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); }
  .book-list .book-img > img {
    width: 200px; }
  .book-list .book-infor {
    width: 700px; }
    .book-list .book-infor .mgb {
      margin-bottom: 10px; }
    .book-list .book-infor a {
      color: #1a66b3; }
      .book-list .book-infor a:hover {
        color: #f86d0d; }
    .book-list .book-infor .price b {
      color: #f86d0d;
      font-size: 18px;
      display: inline-block;
      margin-right: 10px; }
    .book-list .book-infor .price del,
    .book-list .book-infor .price span {
      color: #969696;
      font-size: 12px; }
    .book-list .book-infor .self-sold {
      color: #f86d0d; }
    .book-list .book-infor .book-btn .cart-btn {
      background-color: #f86d0d;
      color: #fff; }
    .book-list .book-infor .book-btn .buy-btn {
      background-color: #ffedee;
      color: #f86d0d;
      border: 1px solid #f86d0d; }
    .book-list .book-infor .book-btn .btn:hover {
      opacity: .8; }
