.main {
  width: 1000px;
  margin: 10px auto 20px;
}

.bread-crumbs {
  margin-bottom: 10px;
}

.tb-pic a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.tb-pic a img {
  vertical-align: middle;
  width: 250px;
}

.tb-pic a {
  display: block;
}

.tb-thumb {
  margin: 10px 0 10px 0;
  list-style: none;
}

.tb-thumb li {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin: 0 10px 0 0;
  border: 1px solid #fff;
}

.tb-s310 {
  height: 250px;
  width: 250px;
  text-align: center;
}

.tb-booth {
  position: relative;
  z-index: 1;
}

.tb-thumb li:hover {
  border: 1px solid #f86d0d;
}

.zoomDiv {
  z-index: 999;
  position: absolute;
  top: 0px;
  left: -10px;
  width: 250px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  display: none;
  text-align: center;
  overflow: hidden;
}

.zoomMask {
  position: absolute;
  background: url("../img/mask.png") repeat scroll 0 0 transparent;
  cursor: move;
  z-index: 1;
}
