.wraps .wrap .seach-bar .logo span {
  display: inline-block;
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700; }

#cart-item {
  width: 1000px;
  margin: 10px auto; }
  #cart-item .cart-title,
  #cart-item .cart-item {
    background-color: #fafafa;
    padding: 10px; }
    #cart-item .cart-title .all-check,
    #cart-item .cart-title .item-check,
    #cart-item .cart-item .all-check,
    #cart-item .cart-item .item-check {
      width: 80px; }
    #cart-item .cart-title .book-name,
    #cart-item .cart-item .book-name {
      width: 240px;
      text-align: center; }
    #cart-item .cart-title .book-storage,
    #cart-item .cart-item .book-storage {
      width: 80px;
      text-align: center; }
    #cart-item .cart-title .book-price,
    #cart-item .cart-item .book-price {
      width: 160px;
      text-align: center; }
    #cart-item .cart-title .book-num,
    #cart-item .cart-item .book-num {
      width: 160px;
      text-align: center; }
    #cart-item .cart-title .book-total,
    #cart-item .cart-item .book-total {
      width: 200px;
      text-align: center; }
    #cart-item .cart-title .book-manage,
    #cart-item .cart-item .book-manage {
      width: 80px;
      text-align: center; }
  #cart-item .cart-item {
    margin-top: 10px; }
    #cart-item .cart-item .book-name > img {
      cursor: pointer; }
    #cart-item .cart-item .book-num {
      position: relative; }
      #cart-item .cart-item .book-num a {
        text-decoration: none;
        background-color: #ebebeb;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 24px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        margin: 0;
        position: absolute; }
        #cart-item .cart-item .book-num a:hover {
          opacity: .8; }
      #cart-item .cart-item .book-num a.minus {
        left: 23px; }
      #cart-item .cart-item .book-num input {
        display: inline;
        border-radius: 0;
        width: 60px;
        height: 25px;
        line-height: 25px;
        text-align: center; }
    #cart-item .cart-item .book-total {
      color: #f86d0d;
      font-size: 18px; }
    #cart-item .cart-item:hover {
      background-color: #FEF8E0; }
  #cart-item .checked {
    background-color: #FEF8E0; }
  #cart-item .cart-ending {
    background-color: #fafafa;
    margin-top: 10px;
    padding: 10px; }
    #cart-item .cart-ending .all-check {
      width: 80px; }
    #cart-item .cart-ending .cart-del {
      width: 480px;
      text-align: left; }
    #cart-item .cart-ending .cart-selected {
      width: 160px;
      text-align: center; }
      #cart-item .cart-ending .cart-selected > b {
        color: #f86d0d;
        display: inline-block;
        width: 20px; }
    #cart-item .cart-ending .cart-text {
      width: 120px;
      text-align: right; }
    #cart-item .cart-ending .cart-total-price {
      width: 80px;
      text-align: right; }
      #cart-item .cart-ending .cart-total-price b {
        color: #f86d0d;
        font-size: 22px;
        display: inline-block;
        width: 80px;
        text-align: center; }
    #cart-item .cart-ending .cart-settle-btn {
      width: 80px;
      text-align: center; }
      #cart-item .cart-ending .cart-settle-btn .btn {
        background-color: #f86d0d;
        color: #fff; }
        #cart-item .cart-ending .cart-settle-btn .btn:hover {
          opacity: .8; }

#cart-empty {
  width: 1000px;
  margin: 60px auto; }
  #cart-empty .empty-tip {
    margin-left: 30px; }
    #cart-empty .empty-tip button {
      background-color: #f86d0d;
      color: #fff;
      width: 70px; }
      #cart-empty .empty-tip button:hover {
        opacity: .8; }
